/** CSS STYLE **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* font-family: 'Open Sans', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

/* font-family: 'Neucha', cursive; */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.section-1 {
  position: relative;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1440px;
  height: 914px;

  padding: 100px 165px;

  background: var(--light);
}

.div-1-a {
  display: flex;

  width: 100%;
  height: 100%;

  margin: 0;
}

.section-1::before {
  position: absolute;

  top: 20px;

  width: 1440px;
  height: 914px;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.div-1-a > img {
  position: absolute;
  top: 48px;
  right: -106px;

  width: 1082.81px;
  height: 525px;
}

.div-1-b {
  display: flex;

  margin: 0;
}

.p-and-btn > p {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* SECTION 2 */

.section-2 {
  position: relative;

  display: flex;

  flex-direction: column;

  width: 1440px;
  height: 914px;
  margin: 0;

  padding-top: 100px;

  background: var(--white);

  /* padding-bottom: 16px; */
}

.div-2-a {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  /* padding-top: 100px; */
}

.div-2-a > p {
  padding: 27px 0 30px 0;
}

h2 {
  font-weight: normal;
  font-size: 60px;
}

.div-2-a > h2 {
  padding: 0;
}

.div-2-b-video {
  position: absolute;

  top: 328px;
  left: 261px;

  z-index: 2;

  display: flex;

  justify-content: center;
}

.banner {
  position: absolute;

  top: 816px;

  width: 1440px;
  height: 100px;

  background: #42413c;
}

/* SECTION-3-NAV */

.section-3 {
  display: flex;

  width: 1440px;
  height: 991px;

  margin: 0;

  margin-top: -100px;

  background: var(--primary-dark);
}

#navigation {
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* kad ovo maknem, pri hoveru se div sakuplja put gore */
  justify-content: center;

  /* height: 693px; */

  /* margin: 100px 0; */
  padding: 100px 165px;

  width: 100%;
  height: 100%;

  /* padding-top: 100px; */
}

a {
  text-decoration: none;
}

.cube1 {
  width: 350px;
  height: 323px;
  margin-right: 15px;
  margin-bottom: 10px;

  font-size: 52px;
}

.cube2 {
  width: 350px;
  height: 323px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;

  padding: 24px 24px;

  background: var(--light);
}

.cube3 {
  width: 350px;
  height: 323px;
  margin-bottom: 10px;
  margin-left: 15px;

  padding: 24px 24px;

  background: var(--light);
}

.cube4 {
  width: 350px;
  height: 348px;
  margin-top: 10px;
  margin-right: 15px;

  padding: 24px 24px;

  background: var(--light);
}

.cube5 {
  width: 350px;
  height: 348px;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;

  padding: 24px 24px;

  background: var(--light);
}

.cube6 {
  width: 350px;
  height: 348px;
  margin-top: 10px;
  margin-left: 15px;

  padding: 24px 24px;

  background: var(--light);
}

.div-cube:hover > h3 {
  color: var(--white);
}

.nubers {
  margin: 0;

  padding-bottom: 40px;

  color: var(--primary-dark);

  font-size: 64px;
  font-family: "Neucha", cursive;

  line-height: 1;
}

.cube-hov:hover {
  background-color: var(--primary);

  block-size: fit-content;
}

.footer-p > p {
  color: var(--white);

  font-size: 34px;
  font-family: "Neucha", cursive;
  font-style: normal;

  line-height: 120%;
}

h3 {
  font-weight: normal;
  font-size: 34px;
}

.frame > p {
  /* frame je od footera, tu ga je linter staviJo */
  padding-bottom: 16px;

  color: black;

  font-weight: normal;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  line-height: 160%;

  text-align: center;
}

.div-cube:hover > .nubers,
.div-cube:hover > p,
.div-cube:hover > h3 {
  left: calc(50% - 23px / 2 - 139.5px);

  color: var(--white);
}

.div-cube:hover > .nubers {
  padding-bottom: 24px;
}

.cube1:first-of-type {
  color: var(--white);
}

/* SECTION 4 (5) */

.section-4,
.section-6,
.section-8 {
  position: relative;

  display: flex;

  width: 1440px;
  height: 960px;

  margin: 0;

  background: var(--light);
}

.section-4::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.div-4-a,
.div-6-a,
.div-7-a,
.div-8-a {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.div-4-b,
.div-6-b,
.div-7-b,
.div-8-b {
  width: 1110px;
  height: 26px;

  background: #b09a81;
}

.div-4-b {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.div-4-c {
  display: flex;

  flex-direction: row;

  justify-content: space-between;

  padding-top: 20px;
}

/* #SECTION-5 */
.section-5 {
  /* margin-bottom: -100px; */
  /* height: 855px !important ; */
}

.section-5,
.section-7 {
  position: relative;

  display: flex;

  width: 1440px;
  min-height: 960px;

  margin: 0;

  background: var(--brown);
}

.section-5::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.div-5-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}

.div-5-a1 > p:first-of-type,
.div-7-a1 > p:first-of-type {
  color: var(--opacity-white);
}

.div-5-b1,
.div-7-b1 {
  display: flex;
  align-items: center;

  width: 1110px;
  height: 26px;
  padding-left: 10px;

  background-color: var(--white);
}

h4 {
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;
  text-transform: uppercase;
}

.div-5-b1 > h4,
.div-7-b1 > h4 {
  color: var(--brown);
}

.div-5-b2 > p,
.div-7-b2 > p {
  color: var(--white);
}

.div-5-b2,
.div-6-b2,
.div-7-b2,
.div-8-b2 {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  padding-top: 24px;
}

/* SECTION-6 */

.section-6::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.div-6-b1,
.div-8-b1 {
  display: flex;
  align-items: center;

  width: 1110px;
  height: 26px;

  padding-left: 10px;
}

/* SECTION-7 */

.section-7::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

/* SECTION-8 */

.section-8::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

/* FOOTER */

footer {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 1440px;
  height: 581px;

  padding: 100px 0;

  background: var(--white);
}

.footer-section {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 1110px;
  height: 190px;
  padding: 55px;

  background: var(--primary-dark);
}

.footer-p1 {
  color: var(--white);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 160%;
}

.footer-p2 {
  color: var(--white);
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 160%;
}

.footer-p2 > a {
  color: var(--white);
  text-decoration: underline;
}

input {
  color: #757575;
}

#email {
  width: 423px;
  height: 50px;
  padding: 17px 122px 18px 15px;

  border: 0;
  border-radius: 0;

  color: #757575;
  font-size: 13.1px;
}

#submit {
  position: relative;

  width: 70px;
  height: 50px;

  padding: 15px 25px 15px 25px;

  border: 0;

  color: var(--white);

  background: var(--primary);
}

#submit::before {
  position: absolute;

  width: 20px;
  height: 20px;

  background: url("../images/send.svg");

  content: "";
}

.frame {
  padding-top: 76px;
}

form {
  display: flex;
  align-items: center;
}

/* STYLES */

:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

button {
  position: relative;
  z-index: 2;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 148px;
  height: 49px;

  margin: 0;
  padding: 0;

  border: none;

  color: var(--white);

  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;

  background: var(--primary);

  cursor: pointer;
}

button:hover,
#submit:hover {
  background: #ea7600;
  cursor: pointer;
}

.section-style {
  max-width: 1110px;
  padding: 100px 0;

  color: #2a2626;
}

ul > li,
.primary-font {
  color: #2a2626;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.header-font-style {
  font-weight: normal;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

.orange {
  color: var(--primary);
}

h1 {
  font-weight: normal;
  font-size: 72px;
}

.no-margin {
  margin: 0;
}

.normal-font-style {
  font-weight: 100;
}

.p-width {
  width: 540px;
}

.p-30px {
  padding-left: 30px;
}

.kogn-iskazeniya {
  color: var(--opacity-dark);

  font-weight: normal;
  font-size: 24px;
  font-family: "Neucha", cursive;
  font-style: normal;
  line-height: 29px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.padding100x165 {
  padding: 100px 165px;
}

.blue-link-text {
  color: var(--blue);
  text-decoration: underline;
}

.white {
  color: var(--white);
}

.z-index-1 {
  z-index: 1;
}

.padding-botton-30 {
  padding-bottom: 30px;
}
