/** CSS STYLE **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

/* font-family: 'Open Sans', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

/* font-family: 'Neucha', cursive; */

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.container {
  z-index: 2;

  width: 100%;

  max-width: 1110px;
  margin: 0 auto;
}

.main-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-sec-top {
  display: flex;

  align-items: center;

  height: 100%;
}

.main-section::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.main-sec-top > img {
  position: absolute;

  top: 48px;
  right: -106px;

  z-index: -1;

  width: 1082.81px;
  height: 525px;
}

.main-sec-bottom {
  display: flex;

  align-items: baseline;
  padding-top: 85px;
  padding-bottom: 100px;
}

.button {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 148px;
  height: 49px;

  margin-top: 40px;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 109px;
}

.video-section > p {
  padding-bottom: 27px;

  font-weight: 400;
  line-height: 160%;

  text-align: center;
}

h2 {
  font-size: 60px;
}

.video-section > h2 {
  padding-bottom: 30px;

  text-align: center;
}

.video-div {
  z-index: 2;

  display: flex;

  justify-content: center;
}

.navigation-section {
  position: relative;

  display: flex;

  justify-content: center;

  width: 100%;

  margin: 0;

  margin-top: -100px;

  padding: 122px 0;
}

.nav-sec {
  display: flex;

  flex-direction: column;

  justify-content: center;

  height: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 84px;
}

.cube {
  padding: 24px;

  background: var(--light);
}

h3 {
  font-size: 34px;
}

.cube:hover > h3 {
  color: var(--white);
}

.numbers {
  margin: 0;

  padding-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", cursive;

  line-height: 1;
}

.cube:hover {
  background-color: var(--primary);
}

.footer-p-style {
  font-size: 34px;
  font-family: "Neucha", cursive;
  font-style: normal;

  line-height: 120%;
}

.frame > p {
  margin-top: 0;

  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  line-height: 160%;

  text-align: center;
}

.cube:hover > .numbers,
.cube:hover > p,
.cube:hover > h3 {
  left: calc(50% - 23px / 2 - 139.5px);

  color: var(--white);
}

.hero-section {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.header-stripe {
  display: flex;
  align-items: center;

  width: 100%;
  height: 26px;
  padding-left: 10px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;
  text-transform: uppercase;
}

.background-before::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

footer {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;

  padding: 100px 0;
}

.footer-section {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 73%;
  padding: 55px;
}

.email {
  width: 423px;
  height: 50px;
  padding-left: 15px;
  border: 0;
  border-radius: 0;

  font-size: 13.1px;
}

.submit-btn {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 70px;
  height: 50px;

  padding: 15px 25px 15px 25px;

  border: 0;
}

.submit-btn::before {
  position: absolute;

  width: 23px;
  height: 23px;

  background: url("../images/send.svg");

  content: "";
}

.frame {
  padding-top: 76px;
}

form {
  display: flex;
  align-items: center;
}

:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

.section {
  position: relative;

  display: flex;

  width: 100%;

  margin: 0;
}

.btn-font-style {
  font-weight: 700;

  text-transform: uppercase;
}

.button:hover,
.submit-btn:hover {
  background: #ea7600;
  cursor: pointer;
}

ul > li,
.primary-font {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.main-font-style {
  font-weight: normal;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

.no-margin {
  margin: 0;
}

.width-50 {
  width: 50%;
}

.p-left30 {
  padding-left: 30px;
}

.small-header {
  font-size: 24px;
  font-family: "Neucha", cursive;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.blue {
  color: var(--blue);
}

.p-bottom30 {
  padding-bottom: 30px;
}

iframe {
  border: 0;
}

.flex-dir-column {
  flex-direction: column;
}

.display-block {
  display: block;
}

.black {
  color: var(--dark);
}

.white {
  color: var(--white);
}

.opacity-dark {
  color: var(--opacity-dark);
}

.orange {
  color: var(--primary);
}

.brown {
  color: var(--brown);
}

.primary-bg {
  background-color: var(--primary);
}

.brown-bg {
  background-color: var(--brown);
}

.white-bg {
  background-color: var(--white);
}

.primary-dark-bg {
  background: var(--primary-dark);
}

.primary-dark {
  color: var(--primary-dark);
}

.light-bg {
  background: var(--light);
}

.gray-color {
  color: #757575;
}

.p-top100 {
  padding-top: 100px;
}

.p-top24 {
  padding-top: 24px;
}

.display-flex {
  display: flex;
}

.text-decor-none {
  text-decoration: none;
}

.text-decor-underline {
  text-decoration: underline;
}

.width-350 {
  width: 350px;
}

.padding-100 {
  padding: 100px 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.line-height-160 {
  line-height: 160%;
}

.font-size18 {
  font-size: 18px;
}

.font-size34 {
  font-size: 34px;
}

.font-size12 {
  font-size: 12px;
}

.font-size52 {
  font-size: 52px;
}

.m-bottom20 {
  margin-bottom: 20px;
}

.overflow-hidden {
  overflow: hidden;
}
