/** CSS STYLE **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* font-family: 'Open Sans', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

/* font-family: 'Neucha', cursive; */

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;

  max-width: 1110px;
  margin: 0 auto;
}

.section-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-1-a {
  display: flex;

  align-items: center;

  height: 100%;
}

.section-1::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.div-1-a > img {
  position: absolute;
  top: 48px;
  right: -106px;

  width: 1082.81px;
  height: 525px;
}

.div-1-b {
  display: flex;

  align-items: baseline;
  padding-top: 85px;
  padding-bottom: 100px;
}

.div-1-b > p {
  width: 50%;
}

.p-and-btn {
  position: relative;

  z-index: 2;

  width: 50%;
}

.p-and-btn > p {
  padding-top: 100px;
}

.more {
  width: 148px;
  height: 49px;

  margin-top: 40px;

  background-color: var(--primary);
}

.more:hover {
  background-color: #ea7600;
}

/* SECTION 2 */

.section-2 {
  flex-direction: column;

  /* height: 914px; */
}

.div-2-a {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 109px;
}

.div-2-a > p {
  padding-bottom: 27px;

  color: #212529;

  font-weight: 400;
  line-height: 160%;

  text-align: center;
}

h2 {
  font-size: 60px;
}

.div-2-a > h2 {
  padding-bottom: 30px;

  text-align: center;
}

.div-2-b-video {
  z-index: 2;

  display: flex;

  justify-content: center;
}

/* SECTION-3-NAV */

.section-3 {
  position: relative;

  display: flex;

  justify-content: center;

  width: 100%;

  margin: 0;

  margin-top: -100px;

  padding: 122px 0;
}

.nav-section {
  display: flex;

  flex-direction: column;

  justify-content: center;

  height: 100%;
}

.nav1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 84px;
}

.cube-first {
  width: 350px;

  font-size: 52px;
}

.cube-other {
  padding: 24px 24px;

  background: var(--light);
}

h3 {
  font-size: 34px;
}

.cube-other:hover > h3 {
  color: var(--white);
}

.numbers {
  margin: 0;

  padding-bottom: 40px;

  color: var(--primary-dark);

  font-size: 64px;
  font-family: "Neucha", cursive;

  line-height: 1;
}

.cube-other:hover {
  background-color: var(--primary);
}

.footer-p > p {
  color: var(--white);

  font-size: 34px;
  font-family: "Neucha", cursive;
  font-style: normal;

  line-height: 120%;
}

.frame > p {
  padding-bottom: 16px;

  font-weight: normal;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  line-height: 160%;

  text-align: center;
}

.cube-other:hover > .numbers,
.cube-other:hover > p,
.cube-other:hover > h3 {
  left: calc(50% - 23px / 2 - 139.5px);

  color: var(--white);
}

.section-6 {
  height: 880px;

  background: var(--light);
}

.section-4,
.section-8 {
  padding: 122px 0;

  background: var(--light);
}

.section-4::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.div-a {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

/* #SECTION-5 */

.section-5 {
  min-height: 860px;

  background: var(--brown);
}

.section-7 {
  min-height: 960px;

  background: var(--brown);
}

.section-5::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

.div-b1 {
  display: flex;
  align-items: center;

  width: 100%;
  height: 26px;
  padding-left: 10px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;
  text-transform: uppercase;
}

.div-b2 {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  padding-top: 24px;
}

/* SECTION-6 */

.section-6::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

/* SECTION-7 */

.section-7::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

/* SECTION-8 */

.section-8::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.1;

  content: " ";
}

/* FOOTER */

footer {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;

  padding: 100px 0;

  background: var(--white);
}

.footer-section {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 1110px;
  padding: 55px;

  background: var(--primary-dark);
}

.footer-p1 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 160%;
}

.footer-p2 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 160%;
}

.footer-p2 > a {
  color: var(--white);
  text-decoration: underline;
}

.email {
  width: 423px;
  height: 50px;
  padding: 17px 122px 18px 15px;

  border: 0;
  border-radius: 0;

  color: #757575;
  font-size: 13.1px;
}

.submit {
  position: relative;

  width: 70px;
  height: 50px;

  padding: 15px 25px 15px 25px;

  border: 0;

  color: var(--white);

  background: var(--primary);
}

.submit::before {
  position: absolute;

  width: 23px;
  height: 23px;

  background: url("../images/send.svg");

  content: "";
}

.frame {
  padding-top: 76px;
}

form {
  display: flex;
  align-items: center;
}

/* STYLES */

:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

.section {
  position: relative;

  display: flex;

  width: 100%;

  margin: 0;
}

.button {
  display: flex;

  align-items: center;
  justify-content: center;
}

.btn-font-style {
  font-weight: 700;

  text-transform: uppercase;
}

button:hover,
.submit:hover {
  background: #ea7600;
  cursor: pointer;
}

ul > li,
.primary-font {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.main-font-style {
  font-weight: normal;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-weight: normal;
  font-size: 72px;
}

.no-margin {
  margin: 0;
}

.normal-font-style {
  font-weight: 100;
}

.p-width {
  width: 540px;
}

.p-left-30px {
  padding-left: 30px;
}

.small-header {
  font-size: 24px;
  font-family: "Neucha", cursive;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.blue-link-text {
  color: var(--blue);
  text-decoration: underline;
}

.z-index-1 {
  z-index: 1;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

iframe {
  border: 0;
}

.black {
  color: var(--dark);
}

.white {
  color: var(--white);
}

.opacity-dark-clr {
  color: var(--opacity-dark);
}

.orange {
  color: var(--primary);
}

.brown {
  color: var(--brown);
}

.brown-background {
  background-color: var(--brown);
}

.white-background {
  background-color: var(--white);
}

.primary-dark-bkgr {
  background: var(--primary-dark);
}

.light-bkgr {
  background: var(--light);
}

.p-top-100px {
  padding-top: 100px;
}

.text-decor-none {
  text-decoration: none;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.width-cube350 {
  width: 350px;
}
